@keyframes bubble {
  0% { transform: translateY(0) scale(1); opacity: 0; }
  20% { opacity: 0.5; }
  80% { opacity: 0.5; }
  100% { transform: translateY(-120vh) scale(1.5); opacity: 0; }
}

.animate-bubble {
  animation-name: bubble;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
